
$backgroundDark:  #eff6ff;
$backgroundLight:  #fafcff;
$pColor:  #7d93b2;
$headerColor: #4c6280;
$lightNavy: rgb(206, 221, 242);
$red: rgb(255, 92, 114);
$transparentRed: rgba(255, 92, 114, 0.836);
$white: #fff;
$lightestBlue: rgb(206, 221, 242);

//header section
.main-header{
	text-align: center;
	max-width: 600px;
	margin: 0 auto;

	h1{
		color: $headerColor;
		font-size: 4.8rem;
		font-weight: 300;
		line-height: 7.2rem;
	}

	img{
		text-align: center;
		width: 100%;
	}
}

// .section-top-padding{
// 	padding: 8rem 0 6rem 0;
// }

//about section
.about{
	padding: 5em 0;

	img{
		float: left;
		width: calc(55% - 2em);
		margin-right: 2em;
	}
	.about-text{
		position: relative;
		float: left;
		width: calc(45%);
		padding: 0 2em;
		top: 50%;
	}

}

//learnHow section
.learnHow{
	.feature-boxes{
		padding-top: 5rem;
	}
	.feature-box{
		float: left;
		max-width: calc((100% - (1.5rem * 3)) / 4);
		text-align: center;
		background-color: $white;
		border-radius: 5px;
		box-shadow: 1px 1px 5px $lightestBlue;
		padding: 3rem;
		margin-right: 1.5rem;
		min-height: 500px;
		p{
			min-height: 180px;
		}
	}

	.feature-box:last-child{
		margin-right: 0;
	}
}

//explore section
.explore{
	// margin-bottom: -9px;
	padding-bottom: 0;
	.container{
		// margin-bottom: -8px;
		padding: 0;
	}
	p{
		max-width: 80%;
		margin: 3rem auto;
		text-align: center;
	}
	.explore-buttons{
		max-width: 40%;
		margin: 5rem auto;
		text-align: center;
		button{
			width: 150px;
		}
	}
}
.laptop-img{
	// width: 1010px;
	width: 100%;
	margin: 0 auto;
	//fix ghost space
	display: block;
}

//company logos
.company-logos{
	padding: 8rem 0;
	width: 100%;

	p{
		float: left;
		padding: 1px;
		margin: 0 4rem 0 0;
	}
	img{
		padding: 0 2%;
		max-width: calc((100% 308px - 1rem * 6) / 6);
	}
}

//questions

.question{
	position: relative;
	img{
		float: left;
	}
	.question-container{
		float: left;
		width: calc((100% - 5rem) / 2);
		p{
			display: inline-block;
			float: left;
		}
	}
	.question-container:nth-child(odd){
			margin-right: 5rem;
	}
	button{
		margin: 0 auto;
		min-width: 50px;
		display: block;
	}
}





