@import 'setup';

/*
1. variables 
2. general styling
3. base styling for all three pages
	3.1 background colors
	3.2 button styling
4. navigation
5. footer
*/

/*--------
1. Variables
--------*/

$backgroundDark:  #eff6ff;
$backgroundLight:  #fafcff;
$pColor:  #7d93b2;
$headerColor: #4c6280;
$lightNavy: rgb(206, 221, 242);
$red: rgb(255, 92, 114);
$transparentRed: rgba(255, 92, 114, 0.836);
$white: #fff;
$box-shadow: rgba(125, 147, 178, 0.3);


@import 'home';
@import 'features';
@import 'pricing';

/*---------
2. Styling All
----------*/
*{
	font-family: 'Nunito', sans-serif;
	border: 1px solid aqua;
}

/*-------------------------
3. Base for all three pages
---------------------------*/
html{
	//sets root em to 10px
	font-size: 62.5%;
	line-height: 1.5;
	width: 100%;
	height: 100%;
	body{
		font-size: 1.6rem;
		.container{
			max-width: 1530px;
			// max-width: 80%;
			margin: 0 auto;
		}

		section{
			padding: 10rem 0 10rem 0;
		}
		
		p{
			color: $pColor;
			line-height: 3.6rem;
		}
		
		h3{
			margin: 0;
			text-align: center;
			color: $headerColor;
			font-size: 3.6rem;
			font-weight: 300;
			line-height: 5.4rem;
		}
		
		hr{
			display: block;
			height: 2px;
			border: 0;
			border-top: 1px solid $lightNavy;
			padding: 0;
		}
	}
}



/*---------
Background 
-----------*/

// background colors
.backgroundDark{
	background-color: $backgroundDark;
}

.backgroundLight{
	background-color: $backgroundLight;
}

//wave background transition
.waveBackground{
	background-image: url(../images/home-background-1.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

/*--------
Buttons
---------*/
//buttons
.button{
	border-radius: 5px;
	padding: 0.5rem 1.5rem;	
}
.red-button{
	background-color: $red;
	color: $white;
	// box-shadow: 10px 15px 20px $lightNavy;
	box-shadow: 0px 20px 30px 0px     $box-shadow;
    width: 205px;
    height: 48px;

;
	border: none;
	:hover{

	}
}

.clear-button{
	background-color: transparent;
	color: $pColor;
	border: 1px $pColor solid;
}
		.clear-button:hover{
				animation-name: toRedButtonHover;
				animation-duration: 1s;
				animation-fill-mode: forwards;  
		}

/*---------
4. Navigation
----------*/

//nav styling
.main-nav{
	top: 0;
	display: inline-block;
	width: 100%;
	margin: 0 auto;
	table{
		width: 100%;
	}
	td{
		width: 33.33%;
	}
}

ul{	
	display: inline-block;
	// removes indent from ul
	padding: 0;
	li{
		margin-left: 0;
		list-style: none;
		color: $headerColor;
		display: inline-block;
		a{
			color: $headerColor;
			text-decoration: none;
			border-radius: 5px;
			padding: 2px 10px;
		}
		a:hover{
			color: $red;
			animation-name: toRedButtonHover;
			animation-duration: 1s;
			animation-fill-mode: forwards;  
		}
	}
}
@keyframes toRedButtonHover{
	from{
		background: none;
		color: $red;
	}
	to{
		background: $transparentRed;
		color: #fff;
	}
}
// 
.main-nav img{
	line-height: 1.5;
	width: auto;
	height: 35px;
	vertical-align: middle;
}
//center nav
.nav-middle{
	position: relative;
	//center
	left: 50%;
  	transform: translatex(-50%);
}

//right nav
.nav-right{
	float: right;
	vertical-align: middle;
	margin: 0;
}

#en{
	background: transparent;
	border: none;
	color: $headerColor;
}
//nav END----------


