@import 'setup';

/*
1. variables 
2. general styling
3. base styling for all three pages
	3.1 background colors
	3.2 button styling
4. navigation
5. footer
*/

/*--------
1. Variables
--------*/

$backgroundDark:  #eff6ff;
$backgroundLight:  #fafcff;
$pColor:  #7d93b2;
$headerColor: #4c6280;
$lightNavy: rgb(206, 221, 242);
$red: rgb(255, 92, 114);
$transparentRed: rgba(255, 92, 114, 0.836);
$white: #fff;
$box-shadow: rgba(125, 147, 178, 0.3);


@import 'home';
@import 'pricing';
@import 'privacy';

/*-------------
2. Styling All
--------------*/
*{
	font-family: 'Nunito', sans-serif;
	// border: 1px solid aqua;
}

//animation
@keyframes toRedButtonHover{
	from{
		background: none;
		color: $red;
	}
	to{
		background: $transparentRed;
		color: #fff;
		border: none;
	}
}

@keyframes buttonMoveUp{
	from{
		margin-bottom: 0px;
	}
	to{
		margin-bottom: 2px;
	}
}

/*-------------------------
3. Base for all three pages
---------------------------*/
html{
	//sets root em to 10px
	font-size: 62.5%;
	line-height: 1.5;
	width: 100%;
	height: 100%;
	body{
		font-size: 1.6rem;
		.wrapper{
			max-width: 1920px;
			// max-width: 80%;
			margin: 0 auto;
		}
		.container{
			max-width: 1530px;
			// max-width: 80%;
			margin: 0 auto;
		}

		section{
			padding: 10rem 0 10rem 0;
		}

		h1{
			color: $headerColor;
			font-size: 4.8rem;
			font-weight: 300;
			line-height: 7.2rem;
			max-width: 600px;
			margin: 0 auto;
		}
		
		p{
			color: $pColor;
			line-height: 3.6rem;
		}
		
		h3{
			margin: 0;
			text-align: center;
			color: $headerColor;
			font-size: 3.6rem;
			font-weight: 300;
			line-height: 5.4rem;
		}
		
		hr{
			display: block;
			height: 2px;
			border: 0;
			border-top: 1px solid $lightNavy;
			padding: 0;
		}
		a{
			text-decoration: none;
		}
		.bolded{
			font-weight: 700;
		}
	}
}



/*---------
3.1 Background 
-----------*/

// background colors
.backgroundDark{
	background-color: $backgroundDark;
}

.backgroundLight{
	background-color: $backgroundLight;
}

//wave background transition
.waveBackground{
	background-image: url(../images/home-background-1.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 550px;
}

//hot air balloon footer background
.hot-air-balloon{
    background-image: url(../images/page-footer-image.png);
	background-position: bottom;
    background-repeat: no-repeat;
}

/*--------
3.2 Buttons
---------*/
//buttons
.button{
	border-radius: 5px;
	padding: 0.5rem 1.5rem;	
	height: 4.8rem;
	min-width: 205px;
}
.red-button{
	background-color: $red;
	color: $white;
	// box-shadow: 10px 15px 20px $lightNavy;
	box-shadow: 0px 20px 30px 0px $box-shadow;
	border: none;
	.red-button:hover{
		background-color: transparent;
		animation-name: buttonMoveUp;
		animation-duration: 1s;
		animation-fill-mode: forwards;
		//RED BUTTON HOVER EFFECT!!!!!!!!!!!!
	}
	a{
		color: $white;
	}
}

.clear-button{
	background-color: transparent;
	color: $pColor;
	border: 1px $pColor solid;
}
		.clear-button:hover{
				animation-name: toRedButtonHover;
				animation-duration: 1s;
				animation-fill-mode: forwards;  
		}

/*---------
4. Navigation
----------*/

//nav styling
.main-nav{
	top: 0;
	display: inline-block;
	width: 100%;
	margin: 0 auto;
	position: relative;
	.nav-container{
		padding: 3rem 0;
	}
}
#nav-home-button{
	position: relative;
}
.nav-dropdown{
	display: none;
	position: absolute;
	background-color: $backgroundLight;
	border-radius: 8px;
	width:150px;
	box-shadow: 0px 20px 30px 0px $box-shadow;
	a{
		display: block;
	}
	a:hover{
		color: white;
	}
	li{
		margin: 0;
		padding: 1rem;
	}
}

#nav-home-button:hover .nav-dropdown{
	display: block;
}
//styling google translate

//doesn't work
.goog-te-gadget {
  font-family: 'Nunito', sans-serif;
}
#google_translate_element img{
	display: none;
}
#google_translate_element div{
	background: transparent;
	background-color: $backgroundDark;
	border: 0px solid transparent !important;
	font-size: 1.6rem;
}
#google_translate_element a{
	color: $headerColor;
}
//doesn't work
#google_translate_element a:hover{
	color: $white;
	background-color: $red;
}

#google_translate_element span{
	border: 0px solid transparent !important;
}

.goog-te-menu2-item div, .goog-te-menu2-item:link div, .goog-te-menu2-item:visited div, .goog-te-menu2-item:active div, .goog-te-menu2 {
	color: $headerColor;
}


ul{	
	display: inline-block;
	// removes indent from ul
	padding: 0;
	li{
		margin-left: 0;
		list-style: none;
		color: $headerColor;
		display: inline-block;
		padding-right: 2rem;
		a{
			color: $headerColor;
			border-radius: 5px;
			padding: 2px 10px;
		}
		a:hover{
			animation-name: toRedButtonHover;
			animation-duration: 1s;
			animation-fill-mode: forwards;  
		}
		.drop-down{
			padding: 0 1rem;
		}
		#no-hover-effect:hover{
			color: $white;
			animation: none;
		}
	}
}
// 
.main-nav img{
	line-height: 1.5;
	width: auto;
	height: 35px;
	vertical-align: middle;
}
//center nav
.nav-middle{
	position: relative;
	//center
	left: 50%;
  	transform: translatex(-80%);
}

//right nav
.nav-right{
	float: right;
	vertical-align: middle;
	margin: 0;
}

#en{
	background: transparent;
	border: none;
	color: $headerColor;
}

/*---------
4. Footer
----------*/
.footer{
	height: 250px;
	line-height: 2rem;
	.footer-top{
		padding: 3rem 0;
		img{
			padding-right: 3rem;
		}
		li{
			padding: 0 2rem;
		}
	}
	a{
		color: $pColor;
	}
	.social-media-links{
		float: right;	
	}
	hr{
		height: 1px;
	}
	p{
		padding: 2rem 0;
		margin: 0;
	}
}

