/*----------
Home Page
-----------*/
.main-header {
  text-align: center;
  max-width: 800px;
  margin: 0 auto; }
  .main-header img {
    text-align: center;
    width: 100%;
    max-width: 600px; }

.about {
  padding: 5em 0; }
  .about img {
    float: left;
    width: calc(55% - 2em);
    margin-right: 2em; }
  .about .about-text {
    min-height: 500px;
    position: relative;
    float: left;
    width: calc(45%);
    padding: 10rem 2em;
    top: 50%; }

.learnHow .feature-boxes {
  padding-top: 5rem; }

.learnHow .feature-box {
  float: left;
  max-width: calc((100% - (1.5rem * 3)) / 4);
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 5px #ceddf2;
          box-shadow: 1px 1px 5px #ceddf2;
  padding: 3rem;
  margin-right: 1.5rem;
  min-height: 500px; }
  .learnHow .feature-box p {
    min-height: 180px; }

.learnHow .feature-box:last-child {
  margin-right: 0; }

.explore {
  padding-bottom: 0; }
  .explore .container {
    padding: 0; }
  .explore p {
    max-width: 80%;
    margin: 3rem auto;
    text-align: center; }
  .explore .explore-buttons {
    max-width: 40%;
    margin: 5rem auto;
    text-align: center; }
    .explore .explore-buttons button {
      width: 250px; }

.laptop-img {
  width: 100%;
  margin: 0 auto;
  display: block; }

.company-logos {
  padding: 8rem 0;
  width: 100%;
  margin: 0 auto; }
  .company-logos p {
    float: left;
    padding: 1px;
    margin: 0 4rem 0 0;
    width: 20%;
    min-width: 320px; }
  .company-logos .logos-container {
    float: right; }
  .company-logos img {
    padding-left: 8rem;
    width: calc((100% 308px - 1rem * 6) / 6); }

.question {
  position: relative; }
  .question img {
    float: left;
    padding-top: 5px; }
  .question .question-container {
    float: left;
    width: calc((100% - 5rem) / 2); }
    .question .question-container h4 {
      display: inline;
      color: #4c6280;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 3.6rem;
      text-align: left;
      margin: 0; }
  .question .question-container:nth-child(odd) {
    margin-right: 5rem; }
  .question button {
    margin: 0 auto;
    min-width: 50px;
    display: block; }

.intergrate {
  position: relative;
  height: 1000px;
  background-image: url(../images/home-footer-background.png), -webkit-gradient(linear, left top, left bottom, color-stop(50%, #fafcff), color-stop(50%, #eff6ff));
  background-image: url(../images/home-footer-background.png), linear-gradient(180deg, #fafcff 50%, #eff6ff 50%);
  background-position: bottom;
  background-repeat: no-repeat; }
  .intergrate .white-box {
    max-width: 490px;
    min-height: 360px;
    text-align: center;
    background-color: #fff;
    margin: 0 auto;
    -webkit-box-shadow: 0px 8px 15px 0px rgba(125, 147, 178, 0.3);
            box-shadow: 0px 8px 15px 0px rgba(125, 147, 178, 0.3);
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    padding: 6rem; }

@charset "UTF-8";
/* normalize */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* clearfix */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

/* border-box */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*
1. variables 
2. general styling
3. base styling for all three pages
	3.1 background colors
	3.2 button styling
4. navigation
5. footer
*/
/*--------
1. Variables
--------*/
/*----------
Home Page
-----------*/
.main-header {
  text-align: center;
  max-width: 800px;
  margin: 0 auto; }
  .main-header img {
    text-align: center;
    width: 100%;
    max-width: 600px; }

.about {
  padding: 5em 0; }
  .about img {
    float: left;
    width: calc(55% - 2em);
    margin-right: 2em; }
  .about .about-text {
    min-height: 500px;
    position: relative;
    float: left;
    width: calc(45%);
    padding: 10rem 2em;
    top: 50%; }

.learnHow .feature-boxes {
  padding-top: 5rem; }

.learnHow .feature-box {
  float: left;
  max-width: calc((100% - (1.5rem * 3)) / 4);
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 5px #ceddf2;
          box-shadow: 1px 1px 5px #ceddf2;
  padding: 3rem;
  margin-right: 1.5rem;
  min-height: 500px; }
  .learnHow .feature-box p {
    min-height: 180px; }

.learnHow .feature-box:last-child {
  margin-right: 0; }

.explore {
  padding-bottom: 0; }
  .explore .container {
    padding: 0; }
  .explore p {
    max-width: 80%;
    margin: 3rem auto;
    text-align: center; }
  .explore .explore-buttons {
    max-width: 40%;
    margin: 5rem auto;
    text-align: center; }
    .explore .explore-buttons button {
      width: 250px; }

.laptop-img {
  width: 100%;
  margin: 0 auto;
  display: block; }

.company-logos {
  padding: 8rem 0;
  width: 100%;
  margin: 0 auto; }
  .company-logos p {
    float: left;
    padding: 1px;
    margin: 0 4rem 0 0;
    width: 20%;
    min-width: 320px; }
  .company-logos .logos-container {
    float: right; }
  .company-logos img {
    padding-left: 8rem;
    width: calc((100% 308px - 1rem * 6) / 6); }

.question {
  position: relative; }
  .question img {
    float: left;
    padding-top: 5px; }
  .question .question-container {
    float: left;
    width: calc((100% - 5rem) / 2); }
    .question .question-container h4 {
      display: inline;
      color: #4c6280;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 3.6rem;
      text-align: left;
      margin: 0; }
  .question .question-container:nth-child(odd) {
    margin-right: 5rem; }
  .question button {
    margin: 0 auto;
    min-width: 50px;
    display: block; }

.intergrate {
  position: relative;
  height: 1000px;
  background-image: url(../images/home-footer-background.png), -webkit-gradient(linear, left top, left bottom, color-stop(50%, #fafcff), color-stop(50%, #eff6ff));
  background-image: url(../images/home-footer-background.png), linear-gradient(180deg, #fafcff 50%, #eff6ff 50%);
  background-position: bottom;
  background-repeat: no-repeat; }
  .intergrate .white-box {
    max-width: 490px;
    min-height: 360px;
    text-align: center;
    background-color: #fff;
    margin: 0 auto;
    -webkit-box-shadow: 0px 8px 15px 0px rgba(125, 147, 178, 0.3);
            box-shadow: 0px 8px 15px 0px rgba(125, 147, 178, 0.3);
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    padding: 6rem; }

/*------------
Pricing page
-------------*/
.pricing-header {
  margin-top: 6rem;
  margin-bottom: 5rem; }

#pricing-form {
  height: 1700px; }

.pricing-form-container {
  border-radius: 8px;
  max-width: 990px;
  margin: 0 auto;
  background: #fff;
  -webkit-box-shadow: 0px 20px 30px 0px rgba(125, 147, 178, 0.3);
          box-shadow: 0px 20px 30px 0px rgba(125, 147, 178, 0.3);
  height: 898px;
  padding: 10rem 20rem; }
  .pricing-form-container h3 {
    text-align: left; }
  .pricing-form-container input {
    border-radius: 8px;
    border-width: 2px;
    border-color: #ceddf2;
    border-style: solid;
    background-color: #fff;
    height: 44px;
    width: 584px;
    margin: 1rem 0 2rem 0;
    padding: 1rem; }
  .pricing-form-container #checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 1rem; }
  .pricing-form-container .input-name {
    max-width: 282px;
    float: left; }
    .pricing-form-container .input-name input {
      max-width: 282px; }
  .pricing-form-container .input-name:first-child {
    margin-right: 20px; }
  .pricing-form-container .form-terms {
    font-weight: 700;
    color: #ff5c72; }
  .pricing-form-container .terms-and-conditions {
    padding: 4rem 0 3rem 0; }
    .pricing-form-container .terms-and-conditions a {
      text-decoration: none; }
    .pricing-form-container .terms-and-conditions a:hover {
      cursor: pointer; }

/*------------
Privacy Page
-------------*/
.privacy-header {
  text-align: left;
  max-width: 721px;
  margin-top: 6rem; }
  .privacy-header .privacy-title {
    text-align: left;
    margin: 0; }

#privacy {
  height: 2700px;
  margin-top: -16rem; }
  #privacy .privacy-text {
    max-width: 1010px;
    float: left;
    margin-right: 15.1rem; }
    #privacy .privacy-text h3 {
      text-align: left;
      margin: 5rem 0 4rem 0; }
    #privacy .privacy-text h4 {
      color: #4c6280;
      font-weight: 400;
      line-height: 3.6rem;
      font-size: 2.4rem; }
    #privacy .privacy-text ul {
      margin-left: 3rem; }
      #privacy .privacy-text ul li {
        display: block;
        color: #7d93b2; }
      #privacy .privacy-text ul .no-list-decoration::before {
        content: ""; }
      #privacy .privacy-text ul li::before {
        content: "•";
        /* Insert content that looks like bullets */
        padding-right: 8px; }
  #privacy .privacy-links {
    float: left;
    color: #7d93b2;
    font-size: 2.4rem;
    line-height: 3.6rem;
    font-weight: 400; }
    #privacy .privacy-links ul {
      margin: 0; }
    #privacy .privacy-links li {
      display: block;
      border-radius: 8px;
      width: 360px;
      height: 64px;
      padding: 1.5rem; }
    #privacy .privacy-links li:hover {
      background-color: #e5f0ff; }

/*-------------
2. Styling All
--------------*/
* {
  font-family: 'Nunito', sans-serif; }

@-webkit-keyframes toRedButtonHover {
  from {
    background: none;
    color: #ff5c72; }
  to {
    background: rgba(255, 92, 114, 0.836);
    color: #fff;
    border: none; } }

@keyframes toRedButtonHover {
  from {
    background: none;
    color: #ff5c72; }
  to {
    background: rgba(255, 92, 114, 0.836);
    color: #fff;
    border: none; } }

@-webkit-keyframes buttonMoveUp {
  from {
    margin-bottom: 0px; }
  to {
    margin-bottom: 2px; } }

@keyframes buttonMoveUp {
  from {
    margin-bottom: 0px; }
  to {
    margin-bottom: 2px; } }

/*-------------------------
3. Base for all three pages
---------------------------*/
html {
  font-size: 62.5%;
  line-height: 1.5;
  width: 100%;
  height: 100%; }
  html body {
    font-size: 1.6rem; }
    html body .wrapper {
      max-width: 1920px;
      margin: 0 auto; }
    html body .container {
      max-width: 1530px;
      margin: 0 auto; }
    html body section {
      padding: 10rem 0 10rem 0; }
    html body h1 {
      color: #4c6280;
      font-size: 4.8rem;
      font-weight: 300;
      line-height: 7.2rem;
      max-width: 600px;
      margin: 0 auto; }
    html body p {
      color: #7d93b2;
      line-height: 3.6rem; }
    html body h3 {
      margin: 0;
      text-align: center;
      color: #4c6280;
      font-size: 3.6rem;
      font-weight: 300;
      line-height: 5.4rem; }
    html body hr {
      display: block;
      height: 2px;
      border: 0;
      border-top: 1px solid #ceddf2;
      padding: 0; }
    html body a {
      text-decoration: none; }
    html body .bolded {
      font-weight: 700; }

/*---------
3.1 Background 
-----------*/
.backgroundDark {
  background-color: #eff6ff; }

.backgroundLight {
  background-color: #fafcff; }

.waveBackground {
  background-image: url(../images/home-background-1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 550px; }

.hot-air-balloon {
  background-image: url(../images/page-footer-image.png);
  background-position: bottom;
  background-repeat: no-repeat; }

/*--------
3.2 Buttons
---------*/
.button {
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
  height: 4.8rem;
  min-width: 205px; }

.red-button {
  background-color: #ff5c72;
  color: #fff;
  -webkit-box-shadow: 0px 20px 30px 0px rgba(125, 147, 178, 0.3);
          box-shadow: 0px 20px 30px 0px rgba(125, 147, 178, 0.3);
  border: none; }
  .red-button .red-button:hover {
    background-color: transparent;
    -webkit-animation-name: buttonMoveUp;
            animation-name: buttonMoveUp;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards; }
  .red-button a {
    color: #fff; }

.clear-button {
  background-color: transparent;
  color: #7d93b2;
  border: 1px #7d93b2 solid; }

.clear-button:hover {
  -webkit-animation-name: toRedButtonHover;
          animation-name: toRedButtonHover;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

/*---------
4. Navigation
----------*/
.main-nav {
  top: 0;
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  position: relative; }
  .main-nav .nav-container {
    padding: 3rem 0; }

#nav-home-button {
  position: relative; }

.nav-dropdown {
  display: none;
  position: absolute;
  background-color: #fafcff;
  border-radius: 8px;
  width: 150px;
  -webkit-box-shadow: 0px 20px 30px 0px rgba(125, 147, 178, 0.3);
          box-shadow: 0px 20px 30px 0px rgba(125, 147, 178, 0.3); }
  .nav-dropdown a {
    display: block; }
  .nav-dropdown a:hover {
    color: white; }
  .nav-dropdown li {
    margin: 0;
    padding: 1rem; }

#nav-home-button:hover .nav-dropdown {
  display: block; }

.goog-te-gadget {
  font-family: 'Nunito', sans-serif; }

#google_translate_element img {
  display: none; }

#google_translate_element div {
  background: transparent;
  background-color: #eff6ff;
  border: 0px solid transparent !important;
  font-size: 1.6rem; }

#google_translate_element a {
  color: #4c6280; }

#google_translate_element a:hover {
  color: #fff;
  background-color: #ff5c72; }

#google_translate_element span {
  border: 0px solid transparent !important; }

.goog-te-menu2-item div, .goog-te-menu2-item:link div, .goog-te-menu2-item:visited div, .goog-te-menu2-item:active div, .goog-te-menu2 {
  color: #4c6280; }

ul {
  display: inline-block;
  padding: 0; }
  ul li {
    margin-left: 0;
    list-style: none;
    color: #4c6280;
    display: inline-block;
    padding-right: 2rem; }
    ul li a {
      color: #4c6280;
      border-radius: 5px;
      padding: 2px 10px; }
    ul li a:hover {
      -webkit-animation-name: toRedButtonHover;
              animation-name: toRedButtonHover;
      -webkit-animation-duration: 1s;
              animation-duration: 1s;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards; }
    ul li .drop-down {
      padding: 0 1rem; }
    ul li #no-hover-effect:hover {
      color: #fff;
      -webkit-animation: none;
              animation: none; }

.main-nav img {
  line-height: 1.5;
  width: auto;
  height: 35px;
  vertical-align: middle; }

.nav-middle {
  position: relative;
  left: 50%;
  -webkit-transform: translatex(-80%);
          transform: translatex(-80%); }

.nav-right {
  float: right;
  vertical-align: middle;
  margin: 0; }

#en {
  background: transparent;
  border: none;
  color: #4c6280; }

/*---------
4. Footer
----------*/
.footer {
  height: 250px;
  line-height: 2rem; }
  .footer .footer-top {
    padding: 3rem 0; }
    .footer .footer-top img {
      padding-right: 3rem; }
    .footer .footer-top li {
      padding: 0 2rem; }
  .footer a {
    color: #7d93b2; }
  .footer .social-media-links {
    float: right; }
  .footer hr {
    height: 1px; }
  .footer p {
    padding: 2rem 0;
    margin: 0; }

/*------------
Pricing page
-------------*/
.pricing-header {
  margin-top: 6rem;
  margin-bottom: 5rem; }

#pricing-form {
  height: 1700px; }

.pricing-form-container {
  border-radius: 8px;
  max-width: 990px;
  margin: 0 auto;
  background: #fff;
  -webkit-box-shadow: 0px 20px 30px 0px rgba(125, 147, 178, 0.3);
          box-shadow: 0px 20px 30px 0px rgba(125, 147, 178, 0.3);
  height: 898px;
  padding: 10rem 20rem; }
  .pricing-form-container h3 {
    text-align: left; }
  .pricing-form-container input {
    border-radius: 8px;
    border-width: 2px;
    border-color: #ceddf2;
    border-style: solid;
    background-color: #fff;
    height: 44px;
    width: 584px;
    margin: 1rem 0 2rem 0;
    padding: 1rem; }
  .pricing-form-container #checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 1rem; }
  .pricing-form-container .input-name {
    max-width: 282px;
    float: left; }
    .pricing-form-container .input-name input {
      max-width: 282px; }
  .pricing-form-container .input-name:first-child {
    margin-right: 20px; }
  .pricing-form-container .form-terms {
    font-weight: 700;
    color: #ff5c72; }
  .pricing-form-container .terms-and-conditions {
    padding: 4rem 0 3rem 0; }
    .pricing-form-container .terms-and-conditions a {
      text-decoration: none; }
    .pricing-form-container .terms-and-conditions a:hover {
      cursor: pointer; }

@charset "UTF-8";
/*------------
Privacy Page
-------------*/
.privacy-header {
  text-align: left;
  max-width: 721px;
  margin-top: 6rem; }
  .privacy-header .privacy-title {
    text-align: left;
    margin: 0; }

#privacy {
  height: 2700px;
  margin-top: -16rem; }
  #privacy .privacy-text {
    max-width: 1010px;
    float: left;
    margin-right: 15.1rem; }
    #privacy .privacy-text h3 {
      text-align: left;
      margin: 5rem 0 4rem 0; }
    #privacy .privacy-text h4 {
      color: #4c6280;
      font-weight: 400;
      line-height: 3.6rem;
      font-size: 2.4rem; }
    #privacy .privacy-text ul {
      margin-left: 3rem; }
      #privacy .privacy-text ul li {
        display: block;
        color: #7d93b2; }
      #privacy .privacy-text ul .no-list-decoration::before {
        content: ""; }
      #privacy .privacy-text ul li::before {
        content: "•";
        /* Insert content that looks like bullets */
        padding-right: 8px; }
  #privacy .privacy-links {
    float: left;
    color: #7d93b2;
    font-size: 2.4rem;
    line-height: 3.6rem;
    font-weight: 400; }
    #privacy .privacy-links ul {
      margin: 0; }
    #privacy .privacy-links li {
      display: block;
      border-radius: 8px;
      width: 360px;
      height: 64px;
      padding: 1.5rem; }
    #privacy .privacy-links li:hover {
      background-color: #e5f0ff; }
